
@{
}
<link href="~/css/loginpage.css" rel="stylesheet" />

<section>
    <div class="d-flex justify-content-center align-items-center">
        <div class="row">
            <div class="col-lg-8">
                <p>something</p>
            </div>
            <div class="col-lg-4 text-center">
                <p>something</p>
            </div>
        </div>
    </div>
</section>